@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
@import url('./reset.css');
/* 링크스타일  */
a{
  color: inherit;
  text-decoration: none;
  }
/* 기본스타일 */
html{
  font-size: 10pt;
}
body{
  font-family: 'Spoqa Han Sans', sans-serif ;
  font-weight: 400;
  font-size: 1.4rem;
  background: #fff;
  color: #181818;
}
